@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


<div class="page-header min-vh-80" style="background-image: url('https://source.unsplash.com/MAYsdoYpGuk') ">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="text-white">The Joel Hilton</h1>
                    <h3 class="text-white">Film Collection</h3>
                    <a asp-controller="Home" asp-action="MovieApplication" class="btn bg-gradient-primary btn-icon" type="button">
                        <div class="d-flex align-items-center">
                            <i class="material-icons me-2" aria-hidden="true">videocam</i>
                            Add a Movie To Collection
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
        <div class="container">
            <div class="section text-center">
                <h2 class="title">This is Joel Hilton</h2>
                <img class="joel-image" src="~/img/JoelHiltonHeadshot.jpg" /><br />
            </div>
        </div>
    </div>
